.page{
    width: 100%;
    height:5000px;
}
.main{
    width: 100%;
}
.goals{
    width: 90%;
    height: 90vh;
    border: 1px solid red;
    display: flex;
    flex-direction: column;
    margin: auto;
}
.goals__string{
    width: 100%;
    border:1px solid red;
    margin: auto;
    display: flex;
    flex-direction: row;
}
.goal{
    height: 1000px;
    border: 1px solid darkblue;
    border-radius: 70px;
}
.goal1{
    width: 33%;
    border:1px solid red;
}
.goal2{
    width: 33%;
    border:1px solid red;
}
.goal3{
    width: 33%;
    border:1px solid red;
    background-size: cover;
    object-fit: cover;
    object-position: center;
}
.goal4{
   width: 50%;
   border:1px solid red;
   object-fit: cover;
   object-position: center;
}
.goal5{
    width: 50%;
    border:1px solid red;
 }
 .goal6{
    width: 40%;
    border:1px solid red;
    
 }
 .goal7{
    width: 60%;
    border:1px solid red;
    object-fit: cover;
    object-fit: left;
 }
@media (max-width:600px){
    .goals__string{
        display: flex;
        flex-direction: column;
    }
    .goal{
        height: 300px;
        width: 100%;
        margin-top: 20px;
        border-radius: 20px;
    }

}
